.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 100px;
    
}

.books-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
    margin-left: 50px;
}
.cart-container{
    margin-top: 78px;
    background-color: #E6E6FA;
    
}

@media only screen and (max-width: 576px) {
    .shop-container{
      grid-template-columns: repeat(1, 1fr);
    }
    
    .books-container{
      grid-template-columns: repeat(1, 1fr);
    }
}